header{
    display: flex;
    background-color: rgb(58, 65, 57);
    justify-content: space-between;
    padding-top: 40px;
    align-items: center
}

main{
    background-image: linear-gradient(red,yellow,green);
    padding: 250px;
    display: flex;
    flex-direction: column;
}

.heading{
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    margin-left: 20px;
    
}

.nav-links{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    gap: 20px;
    padding-right: -30px;
    margin-left: -10%;
    font-family: sans-serif;
    font-size: 14px;
}


.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.tab{ 
    z-index: 0;
    margin-left: 50%;

}

#img{
    margin-top: -15%;
    margin-left: 60%;
    margin-bottom: 20%;
    max-width: max-content;
    border-radius: 15%;
}

h2{
    position: absolute;
    display: flex;
    margin-top: -10%;
    margin-left: 25px;
    padding: 10%;
}

.Services{
    position: absolute;
    padding: 10%;
    margin-bottom: 20px;
    margin-top: 20%;
    margin-left: 10%;
    color: black;
    font-family: sans-serif;
}

.title{ 
    position: absolute;
    padding: 10%;
    color: black;
    font-family: sans-serif;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 10%;
}

button{
    position: absolute;
    padding-left: 57px;
    padding-right: 57px;
    padding-bottom: 17px;
    padding-top: 17px;
    border-radius: 15px;
    display: flex;
    margin-left: 170px;
    margin-top: 170px;
    background-color: rgb(58, 65, 57);
    color: white; 
    border: 1px solid rgb(0, 0, 0);
}

button:hover{
    background-color: rgb(252, 251, 251);
    color: rgb(10, 10, 10);
}

.para{ 
    margin: 350px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: -50%;
    padding: 20px;
    padding-top: 10px;
    color: black; 
}

.grid > div{
    background-color: rgb(58, 65, 57);
    
    height: 150px;
    width: 150px;
    padding-top: 7%; 
    padding-left: 5%;
    padding: 25%;
    align-items: center;
    align-content: center;
    color: white;
    border-radius: 5%;
}

.grid{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    margin-top: 5%;
}
.first{
    display: grid;
    flex-direction: row;
  
}



video{
    position: absolute;
    margin-left: -17%;
    margin-top: -50px;
}

audio{
    position: absolute;
    margin-right: 20px;
    margin-top: 195px;
    margin-left: 60%;
}

section{
    position: absolute;
    margin: 950px;
    padding: 5px;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    
}

.kay{
    margin-right: 50%;
    color: white;
    flex-direction: column;
    margin-top: -2.5%;
}

h4{
    color: white;
    margin-left: 40%;
    padding: 3px;
    position: absolute;
    margin-top: -8%;
}
p{
    margin-left: 40%;
    color: white;
    position: absolute;
    margin-top: -6%;
}
h1{
    margin-left: 40%;
    color: white;
    position: absolute;
    margin-top: -1%;

}

footer{
background-color: rgb(58, 65, 57);
padding-bottom: 3%;
}

 